*{
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

/* CONTAINER */

#container{
    width: 100%;
    height: auto;
    margin: 0 auto;
    font-family: fenwick-outline, sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #4C3D36;
    color: white;
    overflow: hidden;
}

/* GREEDY */

#greedy{
display: grid;
margin: 0 auto;
width: 100vw;
height: 840vh;
grid-template-columns: 1fr;
grid-template-rows: 100vh 100vh 120vh 100vh 100vh 90vh 100vh 130vh;
row-gap: 0;
grid-template-areas:
"obsession"
"name"
"years"
"japan"
"onwards"
"everything"
"room"
"prison";
overflow: hidden;
}

/* OBSESSION MAIN SCREEN */

#obsession{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #4C3D36;
    text-align: center;
    margin: 0 auto;
    font-family: fenwick-outline, sans-serif;
    grid-area: obsession;
    background-image: url('img/guitar/obsession/bg-mobi.svg');  
}

.tribute-p{
    font-size: 8vw;
    margin: 3rem auto 1rem auto;
    z-index: 100;
    color: white;
    font-stretch: extra-expanded;
    text-shadow: 1px 1px 4px #E5890A;
    z-index: 60;
}

.obsession-h1{
    margin: 1.5rem auto 0 auto;
    font-size: 12vw;
    z-index: 80;
    font-stretch: expanded;
    text-shadow: 3px 3px 8px black;
    writing-mode: vertical-lr;
    text-orientation: upright;
    color: #E5890A;
}

@media only screen and (min-width: 350px){
    .obsession-h1{
        font-size: 8vw;

    }
}

@media only screen and (min-width: 500px){
    .tribute-p{
        font-size: 6vw;

    }

    .obsession-h1{
        font-size: 6vw;
    }
}

@media only screen and (min-width: 650px){
    .tribute-p{
        font-size: 5vw;

    }

    .obsession-h1{
        font-size: 4vw;
    }
}



/* VERTICAL STRINGS */

.vertical{
    position: absolute;
    width: 0.3rem;
    height: 90vh;
    border: 2px solid white;
    background-color: white;
    border-radius: 10px;
    opacity: 0.5;
    z-index: 50;
}

.hr-a{
    transform: translateX(-38vw);
    opacity: 1;
    border: 3px solid white;
}

.hr-b{
    transform: translateX(-23vw);
    opacity: 1;
    border: 3px solid white;
}

.hr-c{
    transform: translateX(-8vw);
    opacity: 1;
    border: 3px solid white;
}

.hr-d{
    transform: translateX(7vw);
  
}

.hr-e{
    transform: translateX(22vw);
    
}

.hr-f{
    transform: translateX(37vw);
}

/* ANIMATION FOR EACH STRING */

@keyframes stringify6 {
    0%{transform: translateX(-38.02vw);}
    5%{transform: translateX(-35.98vw);}
    10%{transform: translateX(-38.02vw);}
    15%{transform: translateX(-35.98vw);}
    20%{transform: translateX(-38.02vw);}
    25%{transform: translateX(-35.98vw);}
    30%{transform: translateX(-38.02vw);}
    35%{transform: translateX(-35.98vw);}
    40%{transform: translateX(-38.02vw);}
    45%{transform: translateX(-35.98vw);}
    50%{transform: translateX(-38.02vw);}
    55%{transform: translateX(-35.98vw);}
    60%{transform: translateX(-38.02vw);}
    65%{transform: translateX(-35.98vw);}
    70%{transform: translateX(-38.02vw);}
    75%{transform: translateX(-35.98vw);}
    80%{transform: translateX(-38.02vw);}
    85%{transform: translateX(-35.98vw);}
    90%{transform: translateX(-38.02vw);}
    95%{transform: translateX(-35.98vw);}
    100%{transform: translateX(-38vw);}
}

.stringMoves6{
    animation-name: stringify6;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-delay: 0s;
}

@keyframes stringify5 {
    0%{transform: translateX(-23vw);}
    5%{transform: translateX(-21vw);}
    10%{transform: translateX(-23vw);}
    15%{transform: translateX(-21vw);}
    20%{transform: translateX(-23vw);}
    25%{transform: translateX(-21vw);}
    30%{transform: translateX(-23vw);}
    35%{transform: translateX(-21vw);}
    40%{transform: translateX(-23vw);}
    45%{transform: translateX(-21vw);}
    50%{transform: translateX(-23vw);}
    55%{transform: translateX(-21vw);}
    60%{transform: translateX(-23vw);}
    65%{transform: translateX(-21vw);}
    70%{transform: translateX(-23vw);}
    75%{transform: translateX(-21vw);}
    80%{transform: translateX(-23vw);}
    85%{transform: translateX(-21vw);}
    90%{transform: translateX(-23vw);}
    95%{transform: translateX(-21vw);}
    100%{transform: translateX(-23vw);}
}

.stringMoves5{
    animation-name: stringify5;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-delay: 0s;
}

@keyframes stringify4 {
    0%{transform: translateX(-8vw);}
    5%{transform: translateX(-6vw);}
    10%{transform: translateX(-8vw);}
    15%{transform: translateX(-6vw);}
    20%{transform: translateX(-8vw);}
    25%{transform: translateX(-6vw);}
    30%{transform: translateX(-8vw);}
    35%{transform: translateX(-6vw);}
    40%{transform: translateX(-8vw);}
    45%{transform: translateX(-6vw);}
    50%{transform: translateX(-8vw);}
    55%{transform: translateX(-6vw);}
    60%{transform: translateX(-8vw);}
    65%{transform: translateX(-6vw);}
    70%{transform: translateX(-8vw);}
    75%{transform: translateX(-6vw);}
    80%{transform: translateX(-8vw);}
    85%{transform: translateX(-6vw);}
    90%{transform: translateX(-8vw);}
    95%{transform: translateX(-6vw);}
    100%{transform: translateX(-8vw);}
}

.stringMoves4{
    animation-name: stringify4;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-delay: 0s;
}

@keyframes stringify3 {
    0%{transform: translateX(7vw);}
    5%{transform: translateX(5vw);}
    10%{transform: translateX(7vw);}
    15%{transform: translateX(5vw);}
    20%{transform: translateX(7vw);}
    25%{transform: translateX(5vw);}
    30%{transform: translateX(7vw);}
    35%{transform: translateX(5vw);}
    40%{transform: translateX(7vw);}
    45%{transform: translateX(5vw);}
    50%{transform: translateX(7vw);}
    55%{transform: translateX(5vw);}
    60%{transform: translateX(7vw);}
    65%{transform: translateX(5vw);}
    70%{transform: translateX(7vw);}
    75%{transform: translateX(5vw);}
    80%{transform: translateX(7vw);}
    85%{transform: translateX(5vw);}
    90%{transform: translateX(7vw);}
    95%{transform: translateX(5vw);}
    100%{transform: translateX(7vw);}
}

.stringMoves3{
    animation-name: stringify3;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-delay: 0s;
}

@keyframes stringify2 {
    0%{transform: translateX(22vw);}
    5%{transform: translateX(20vw);}
    10%{transform: translateX(22vw);}
    15%{transform: translateX(20vw);}
    20%{transform: translateX(22vw);}
    25%{transform: translateX(20vw);}
    30%{transform: translateX(22vw);}
    35%{transform: translateX(20vw);}
    40%{transform: translateX(22vw);}
    45%{transform: translateX(20vw);}
    50%{transform: translateX(22vw);}
    55%{transform: translateX(20vw);}
    60%{transform: translateX(22vw);}
    65%{transform: translateX(20vw);}
    70%{transform: translateX(22vw);}
    75%{transform: translateX(20vw);}
    80%{transform: translateX(22vw);}
    85%{transform: translateX(20vw);}
    90%{transform: translateX(22vw);}
    95%{transform: translateX(20vw);}
    100%{transform: translateX(22vw);}
}

.stringMoves2{
    animation-name: stringify2;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-delay: 0s;
}

@keyframes stringify1 {
    0%{transform: translateX(37vw);}
    5%{transform: translateX(35vw);}
    10%{transform: translateX(37vw);}
    15%{transform: translateX(35vw);}
    20%{transform: translateX(37vw);}
    25%{transform: translateX(35vw);}
    30%{transform: translateX(37vw);}
    35%{transform: translateX(35vw);}
    40%{transform: translateX(37vw);}
    45%{transform: translateX(35vw);}
    50%{transform: translateX(37vw);}
    55%{transform: translateX(35vw);}
    60%{transform: translateX(37vw);}
    65%{transform: translateX(35vw);}
    70%{transform: translateX(37vw);}
    75%{transform: translateX(35vw);}
    80%{transform: translateX(37vw);}
    85%{transform: translateX(35vw);}
    90%{transform: translateX(37vw);}
    95%{transform: translateX(35vw);}
    100%{transform: translateX(37vw);}
}

.stringMoves1{
    animation-name: stringify1;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-delay: 0s;
}

/* NAME ARTICLE */

#name{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #4C3D36;   
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
    font-family: fenwick-outline, sans-serif;
    grid-area: name;
}

.if-you-never{
    font-size: 1.5rem;
    width: 60%;
    text-align: left;
    margin: 0rem auto 0 2rem;
}

.akio-id{
   
    background-image: url('img/name/akio-id.svg');
    background-repeat: no-repeat;
    width: 10rem;
    height: 8rem;
    margin: 3rem auto 0 auto;
    opacity: 1;
}

.jimmy-id{
    position: absolute;
    background-image: url('img/name/jimmy-id.svg');
    background-repeat: no-repeat;
    width: 10rem;
    height: 8rem;
    margin: 10rem auto 0 auto;
    opacity: 1;
}

@media only screen and (min-width: 310px){
    .jimmy-id{
        position: absolute;
        background-image: url('img/name/jimmy-id.svg');
        background-repeat: no-repeat;
        width: 10rem;
        height: 8rem;
        margin: 8rem auto 0 auto;
        opacity: 1;
    } 
}

@media only screen and (min-width: 449px){
    .jimmy-id{
        position: absolute;
        background-image: url('img/name/jimmy-id.svg');
        background-repeat: no-repeat;
        width: 10rem;
        height: 8rem;
        margin: 6rem auto 0 auto;
        opacity: 1;
    } 
}



.name-white-thing{
    display: block;
    width: 60vw;
    height: auto;
    margin: 2rem auto; 
}

.not-exist{
    font-size: 1.5rem;
    width: 70%;
    text-align: right;
    margin: 2rem 2rem 0 auto;
}

.name-white-thing2{
    display: block;
    width: 60vw;
    height: auto;
    margin: 2rem auto;
}

@media only screen and (min-width: 400px){
    .name-white-thing{
        width: 30vw;
    }

    .name-white-thing2{
        width: 30vw;
    }
}



/* THIRTY YEARS ARTICLE */

#thirty-years{
    height: 120vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #4C3D36;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
    font-family: fenwick-outline, sans-serif;
    grid-area: years;
}

.years-circle1-div{
    width: 100vw;
    z-index: 9;
    margin-top: 3rem;
}

.years-circle1{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #1B0A08;
    opacity: 0.8;
    z-index: 9;
    margin: 5rem auto 0rem auto;
}

.for-the-past{
    font-size: 1.5rem;
    width: 70%;
    text-align: left;
    margin: 3rem auto 3rem 2rem;
    z-index: 8;
    color: black;
}

.years-new-background{
    height: 120vh;
    width: 100vw;
    background-color: #E1B45F;
    position: absolute;
    z-index: 7;
}

.both-fingerprints{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: auto;
    margin-top: 1rem;
}

.fingerprint1{
    position: absolute;
    width: 10rem;
    height: 8rem;
    margin: 2rem auto 0 0.4rem;
    opacity: 1;
    z-index: 8;

}

.fingerprint2{
    position: absolute;
    width: 10rem;
    height: 8rem;
    margin: 3.3rem auto 0 auto;
    opacity: 1;
    z-index: 8;
}

@media only screen and (min-width: 1000px){
    .both-fingerprints{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: auto;
        margin-top: 5rem;
    }
    
    .fingerprint1{
        position: absolute;
        width: 10rem;
        height: 8rem;
        margin: 2rem auto 0 0.4rem;
        opacity: 1;
        z-index: 8;
    
    }
    
    .fingerprint2{
        position: absolute;
        width: 10rem;
        height: 8rem;
        margin: 3.3rem auto 0 auto;
        opacity: 1;
        z-index: 8;
    }
}

.jimmy-page{
    font-size: 1.5rem;
    width: 60%;
    text-align: right;
    margin: 8rem 2rem 0 auto;
    z-index: 8;
    color: black;
}


.years-circle2-div{
    width: 100vw;
    z-index: 9;
}

.years-circle2{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #1B0A08;
    opacity: 0.8;
    z-index: 9;
    margin: 3rem auto 3rem auto;
}


/* BORN IN JAPAN ARTICLE */

#born-in-japan{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #E1B45F;
    text-align: center;
    margin: 0 auto;
    font-family: fenwick-outline, sans-serif;
    grid-area: japan;
}

.akio-was-born{
    font-size: 1.5rem;
    width: 70%;
    text-align: left;
    margin: 3rem auto 0 2rem;
    color: black;
}

.after-listening{
    font-size: 1.5rem;
    width: 70%;
    text-align: right;
    margin: 14rem 2rem 0 auto;
    color: black;
}

@media only screen and (min-width: 450px){
    #greedy{
        height: 840vh;
        grid-template-columns: 1fr;
        grid-template-rows: 100vh 100vh 120vh 120vh 100vh 80vh 100vh 120vh;
    }

    #born-in-japan{
        height: 120vh;
    }

    .after-listening{
        font-size: 1.5rem;
        width: 50%;
        text-align: right;
        margin: 15rem 2rem 0 auto;
        color: black;
    }
}

.japan{
    position: absolute;
    background-image: url('img/japan/japan.svg');
    background-repeat: no-repeat;
    width: 4.2rem;
    height: 4.2rem;
    margin: 13.4rem auto 0 0;
    opacity: 1;
    z-index: 100;
    transform: scale(5);
}

.vinyl{
    position: absolute;
    background-image: url('img/japan/vinylblack.svg');
    background-repeat: no-repeat;
    width: 8rem;
    height: 8rem;
    margin: 11.5rem auto 0 auto;
    opacity: 1;
    transform: scale(5);
}

.born-double-circle{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 80vw;
}


.born-circle1{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #1B0A08;
    opacity: 0.8;
    z-index: 9;
    margin: 5rem auto 3rem auto;
}
.born-circle2{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #1B0A08;
    opacity: 0.8;
    z-index: 9;
    margin: 5rem auto 3rem auto;
}


/* FROM THEN ONWARDS ARTICLE */

#from-then-onwards{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #E1B45F;
    text-align: center;
    margin: 0 auto;
    font-family: fenwick-outline, sans-serif;
    grid-area: onwards;
    z-index: 5;
}

.akio-would-aspire{
    font-size: 1.5rem;
    width: 70%;
    text-align: left;
    margin: 2.3rem auto 0 2rem;
    z-index: 10;
}

.onwards-new-background{
    height: 100vh;
    width: 100vw;
    background-color: #4E382E;
    position: absolute;
    z-index: 7;
}

.onwards-circle1{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #F7DDD3;
    opacity: 0.5;
    z-index: 9;
    margin: 5rem auto 3rem auto;
}

.perform-exactly{
    font-size: 1.5rem;
    width: 60%;
    text-align: right;
    margin: 1rem 2rem 0 auto;
    z-index: 10;
}

.onwards-circle2{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #F7DDD3;
    opacity: 0.5;
    z-index: 9;
    margin: 6rem auto 0rem auto;
}

/* SAME EVERYTHING ARTICLE */

#same-everything{
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #4E382E;
    text-align: center;
    margin: 0 auto;
    font-family: fenwick-outline, sans-serif;
    grid-area: everything;
    
}

/* double outfit */

.same-double-outfit{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 70vw;
    z-index: 10;
}

.same-outfit{
    font-size: 1.5rem;
    width: 50%;
    text-align: left;
    margin: 3.3rem auto 0 2rem;
}

.same-outfit-svg{
   
    background-image: url('img/same/cool-pants.svg');
    background-repeat: no-repeat;
    width: 10rem;
    height: 8rem;
    margin: 3.3rem -2rem 0 auto;
    opacity: 1;
    z-index: 8;
}

/* double instrument */

.same-double-instruments{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 70vw;
    z-index: 10;
}

.same-instruments{
    font-size: 1.5rem;
    width: 40%;
    text-align: right;
    margin: 6rem auto 0 auto;
}

.same-instruments-svg{
   
    background-image: url('img/same/cool-guitar.svg');
    background-repeat: no-repeat;
    width: 10rem;
    height: 8rem;
    margin: 3.3rem auto 0 2rem;
    opacity: 1;
    z-index: 8;
}

/* double sound */

.same-double-sound{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 80vw;
    z-index: 10;
}

.same-sound-system{
    font-size: 1.5rem;
    width: 40%;
    text-align: left;
    margin: 3.3rem auto 0 auto;
}

.same-sound-svg{
   
    background-image: url('img/same/sound-vector.svg');
    background-repeat: no-repeat;
    width: 10rem;
    height: 8rem;
    margin: 3.3rem auto 0 auto;
    opacity: 1;
    z-index: 8;
    transform: scale(0.5);
}

/*

@media only screen and (min-width: 500px){

    #greedy{
            height: 860vh;
            grid-template-columns: 1fr;
            grid-template-rows: 100vh 100vh 120vh 120vh 100vh 120vh 100vh 100vh;
    }

    #same-everything{
        height: 120vh;
    }

    .same-double-outfit{
        justify-content: space-around;
        width: 100vw;
        margin: 5rem auto 5rem auto; 
    }

    .same-outfit{
        margin: 3.3rem auto 0 5rem;
    }
    
    .same-outfit-svg{
        margin: 3.3rem auto 0 auto;
    }


    .same-double-instruments{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 70vw;
        margin: 0 auto 5rem auto;
        
    }
    
    .same-instruments{
        width: 50%;
        margin: 0rem 1rem 0 auto;
        text-align: right;
    }
    
    .same-instruments-svg{
        margin: 0rem auto 0 auto;
        width: 10rem;
        height: 8rem;
    }


    .same-double-sound{
        justify-content: space-around;
        width: 80vw;
        margin: 0 auto;
       
    }
    
    .same-sound-system{
        font-size: 1.5rem;
        width: 50%;
        text-align: left;
        margin: 3.3rem auto 0 auto;
    }
    
    .same-sound-svg{
       
        background-image: url('img/same/sound-vector.svg');
        background-repeat: no-repeat;
        width: 10rem;
        height: 8rem;
        margin: 3.3rem auto 0 auto;
        opacity: 1;
        z-index: 8;
        transform: scale(0.5);
    }
}

*/

@media only screen and (min-width: 1200px){


    .same-double-outfit{
        width: 80vw;
    }

}



/* NO ROOM ARTICLE */

#no-room{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #4E382E;
    text-align: center;
    margin: 0 auto;
    font-family: fenwick-outline, sans-serif;
    grid-area: room;
}

.for-mistakes{
    font-size: 1.5rem;
    width: 70%;
    text-align: center;
    margin: 4rem auto 2rem auto;
    z-index: 8;
}

.no-room-new-background{
    height: 100vh;
    width: 100vw;
    background-color: #3A1C09;
    position: absolute;
    z-index: 7;
}

.mistake-white-thing1{
    display: block;
    width: 40vw;
    height: auto;
    margin: 2rem auto 4rem auto;
    z-index: 8;
}

.only-improvements{
    font-size: 1.5rem;
    width: 70%;
    text-align: center;
    margin: 2rem auto 2rem auto;
    z-index: 8;
}

.mistake-white-thing2{
    display: block;
    width: 40vw;
    height: auto;
    margin: 5rem auto 2rem auto;
    z-index: 8;
}

@media only screen and (min-width: 400px){

    .mistake-white-thing1{
        width: 20vw;
    }
    
    .mistake-white-thing2{
        width: 20vw;
    }

}

@media only screen and (min-width: 1200px){

    .mistake-white-thing1{
        width: 10vw;
    }
    
    .mistake-white-thing2{
        width: 10vw;
    }

}


/* PRISON ARTICLE */

#prison{
    height: 130vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #3A1C09;
    text-align: center;
    margin: 0 auto;
    font-family: fenwick-outline, sans-serif;
    grid-area: prison;
}

.for-many{
    font-size: 1.5rem;
    width: 70%;
    text-align: left;
    margin: 5rem auto 0 2rem;
}

.prison-svg{
    
    background-image: url('img/prison/cage.svg');
    background-repeat: no-repeat;
    width: 15rem;
    height: 15rem;
    margin: 5rem auto 3rem auto;
    opacity: 1;
    z-index: 100;
}



.prison-ladder{
    position: absolute;
    background-image: url('img/prison/ladder.svg');
    background-repeat: no-repeat;
    
    width: 15rem;
    height: 20rem;
    margin: 14rem auto 0 4rem;
    opacity: 1;

    z-index: 101;
}

.was-heaven{
    font-size: 1.5rem;
    width: 70%;
    text-align: right;
    margin: 2rem 2rem 5rem auto;
}

.to-perfection{
    font-size: 1.5rem;
    width: 70%;
    text-align: center;
    margin: 0rem auto 0 auto;
}

/*
/*
/* 800 PIXEL MEDIA QUERY */

@media only screen and (min-width: 800px){

/* VERTICAL STRINGS */

.vertical{
    
    position: absolute;
    width: 0.3rem;
    height: 120vh;
    border: 2px solid white;
    background-color: white;
    border-radius: 10px;
    opacity: 0.5;
    z-index: 50;
}

/* GREEDY */

#greedy{
    display: grid;
    margin: 0 auto;
    width: 100vw;
    height: 1000vh;
    grid-template-columns: 1fr;
    grid-template-rows: 100vh 120vh 150vh 130vh 110vh 120vh 140vh 130vh;
    row-gap: 0;
    grid-template-areas:
    "obsession"
    "name"
    "years"
    "japan"
    "onwards"
    "everything"
    "room"
    "prison";
    overflow: hidden;
    }

/* OBSESSION */

.obsession-h1{
    margin: 5rem auto 0 auto;
    font-size: 12vw;
    z-index: 80;
    font-stretch: expanded;
    text-shadow: 3px 3px 8px black;
    writing-mode: horizontal-tb;
    text-orientation: upright;
    color: #E5890A;
}

/* NAME ARTICLE */

#name{
    height: 120vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #4C3D36;   
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
    font-family: fenwick-outline, sans-serif;
    grid-area: name;
    background-image: none; 
}

.if-you-never{
    font-size: 4rem;
    width: 80%;
    text-align: left;
    margin: 0rem auto 0 2rem;
}

.akio-id{
    background-image: url('img/name/akio-id.svg');
    background-repeat: no-repeat;
    width: 20rem;
    height: 10rem;
    margin: 6rem auto 0 auto;
    opacity: 1;
}

.jimmy-id{
    position: absolute;
    background-image: url('img/name/jimmy-id.svg');
    background-repeat: no-repeat;
    width: 20rem;
    height: 10rem;
    margin: 20rem auto 0 auto;
    opacity: 1;
} 

.name-white-thing{
    display: none;
}

.not-exist{
    font-size: 4rem;
    width: 70%;
    text-align: right;
    margin: 2rem 2rem 0 auto;
}

.name-white-thing2{
    display: none;
}

/* THIRTY YEARS ARTICLE */

#thirty-years{
    height: 150vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #4C3D36;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
    font-family: fenwick-outline, sans-serif;
    grid-area: years;
    background-image: none; 
    
}

.years-circle1-div{
    width: 100vw;
    z-index: 9;
    margin-top: 3rem;
}

.years-circle1{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #1B0A08;
    opacity: 0.8;
    z-index: 9;
    margin: 5rem auto 0rem auto;
}

.for-the-past{
    font-size: 4rem;
    width: 70%;
    text-align: left;
    margin: 2rem auto 2rem 2rem;
    z-index: 8;
    color: black;
}


.years-new-background{
    height: 150vh;
    width: 80vw;
    background-color: #E1B45F;
    position: absolute;
    z-index: 6;
    
}


.both-fingerprints{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: auto;
    margin-top: 1rem;
}

.fingerprint1{
    position: absolute;
    width: 10rem;
    height: 8rem;
    margin: 2rem auto 0 0.4rem;
    opacity: 1;
    z-index: 8;

}

.fingerprint2{
    position: absolute;
    width: 10rem;
    height: 8rem;
    margin: 3.3rem auto 0 auto;
    opacity: 1;
    z-index: 8;
}

.jimmy-page{
    font-size: 4rem;
    width: 60%;
    text-align: right;
    margin: 10rem 2rem 5rem auto;
    z-index: 8;
    color: black;
}


.years-circle2-div{
    width: 100vw;
    z-index: 9;
}

.years-circle2{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #1B0A08;
    opacity: 0.8;
    z-index: 9;
    margin: 3rem auto 3rem auto;
}


/* BORN IN JAPAN ARTICLE */

#born-in-japan{
    height: 130vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #E1B45F;
    text-align: center;
    margin: 0 auto;
    font-family: fenwick-outline, sans-serif;
    grid-area: japan;
    background-image: none; 
    z-index: 8;
}

.akio-was-born{
    font-size: 4rem;
    width: 70%;
    text-align: left;
    margin: 3rem auto 0 2rem;
    color: black;
}

.after-listening{
    font-size: 4rem;
    width: 70%;
    text-align: right;
    margin: 15rem 2rem 0 auto;
    color: black;  
}

.japan{
    position: absolute;
    background-image: url('img/japan/japan.svg');
    background-repeat: no-repeat;
    width: 8rem;
    height: 8rem;
    margin: 21.5rem auto 0 0;
    opacity: 1;
    z-index: 100;
    
}

.vinyl{
    position: absolute;
    background-image: url('img/japan/vinylblack.svg');
    background-repeat: no-repeat;
    width: 15rem;
    height: 15rem;
    margin: 18rem auto 0 auto;
    opacity: 1;
    
}

.born-double-circle{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 80vw;
    margin-top: 5rem;
}


.born-circle1{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #1B0A08;
    opacity: 0.8;
    z-index: 9;
    margin: 5rem auto 3rem auto;
}
.born-circle2{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #1B0A08;
    opacity: 0.8;
    z-index: 9;
    margin: 5rem auto 3rem auto;
}

/* FROM THEN ONWARDS ARTICLE */

#from-then-onwards{
    height: 110vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #E1B45F;
    text-align: center;
    margin: 0 auto;
    font-family: fenwick-outline, sans-serif;
    grid-area: onwards;
    z-index: 5;
    
}

.onwards-new-background{
    height: 110vh;
    width: 100vw;
    background-color: #4E382E;
    position: absolute;
    z-index: 7;
}

.onwards-circle1{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #F7DDD3;
    opacity: 0.5;
    z-index: 9;
    margin: 5rem auto 3rem auto;
}

.onwards-circle2{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #F7DDD3;
    opacity: 0.5;
    z-index: 9;
    margin: 6rem auto 0rem auto;
}

.akio-would-aspire{
    font-size: 4rem;
    width: 70%;
    margin: 4rem auto 0 2rem;
}

.perform-exactly{
    font-size: 4rem;
    width: 70%;
    margin: 1rem 2rem 0 auto;
}


/* SAME EVERYTHING ARTICLE */

#same-everything{
    height: 120vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #4E382E;
    text-align: center;
    margin: 0 auto;
    font-family: fenwick-outline, sans-serif;
    grid-area: everything;
    background-image: none; 
   
}

/* double outfit */

.same-double-outfit{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    width: 80vw;
    z-index: 10;
}

.same-outfit{
    margin: 0rem auto 0 5rem;
    font-size: 4rem;
    width: 40%;
}

.same-outfit-svg{
   
    background-image: url('img/same/cool-pants.svg');
    background-repeat: no-repeat;
    width: 15rem;
    height: 12rem;
    margin: 0rem 2rem 0 auto;
    opacity: 1;
    z-index: 8;
    
}

/* double instrument */

.same-double-instruments{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 80vw;
    z-index: 10;
}

.same-instruments{
    font-size: 4rem;
    text-align: center;
}

.same-instruments-svg{
   
    background-image: url('img/same/cool-guitar.svg');
    background-repeat: no-repeat;
    width: 13rem;
    height: 11rem;
    margin: 3.3rem auto 0 8rem;
    opacity: 1;
    z-index: 8;
}

/* double sound */

.same-double-sound{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 80vw;
    z-index: 10;
}

.same-sound-system{
    font-size: 4rem;
}

.same-sound-svg{
   
    background-image: url('img/same/sound-vector.svg');
    background-repeat: no-repeat;
    width: 13rem;
    height: 11rem;
    margin: 3.3rem auto 0 auto;
    opacity: 1;
    z-index: 8;
}


/* NO ROOM ARTICLE */

#no-room{
    height: 140vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #4E382E;
    text-align: center;
    margin: 0 auto;
    font-family: fenwick-outline, sans-serif;
    grid-area: room;
}

.for-mistakes{
    font-size: 4rem;
    width: 70%;
    text-align: center;
    margin: 4rem auto 2rem auto;
    z-index: 8;
}

.no-room-new-background{
    height: 140vh;
    width: 100vw;
    background-color: #3A1C09;
    position: absolute;
    z-index: 7;
}

.horizontal-string-background-room{
    height: 160vh;
    width: 100vw;
    background-image: none; 
    position: absolute;
    z-index: 8;
}

.mistake-white-thing1{
    display: block;
    width: 20vw;
    height: auto;
    margin: 2rem auto 4rem auto;
    z-index: 8;
}

.only-improvements{
    font-size: 4rem;
    width: 70%;
    text-align: center;
    margin: 2rem auto 2rem auto;
    z-index: 8;
}

.mistake-white-thing2{
    display: block;
    width: 20vw;
    height: auto;
    margin: 5rem auto 2rem auto;
    z-index: 8;
}


/* PRISON ARTICLE */

#prison{
    height: 130vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #3A1C09;
    text-align: center;
    margin: 0 auto;
    font-family: fenwick-outline, sans-serif;
    grid-area: prison;
    background-image: none; 
}

.for-many{
    font-size: 4rem;
    width: 70%;
    text-align: left;
    margin: 0rem auto 0 2rem;
}

.prison-svg{
    
    background-image: url('img/prison/cage.svg');
    background-repeat: no-repeat;
    width: 20rem;
    height: 20rem;
    margin: 5rem auto 3rem auto;
    opacity: 1;
    z-index: 100;
}



.prison-ladder{
    position: absolute;
    background-image: url('img/prison/ladder.svg');
    background-repeat: no-repeat;
    
    width: 20rem;
    height: 22rem;
    margin: 23rem auto 0 30rem;
    opacity: 1;

    z-index: 101;
}

.was-heaven{
    font-size: 4rem;
    width: 70%;
    text-align: right;
    margin: 2rem 2rem 5rem auto;
}

.to-perfection{
    font-size: 4rem;
    width: 70%;
    text-align: center;
    margin: 0rem auto 0 auto;
}


/* HERE ENDS THE MASSIVE 800px MEDIA QUERY */
}

@media only screen and (min-width: 895px){
    .prison-ladder{
        position: absolute;
        background-image: url('img/prison/ladder.svg');
        background-repeat: no-repeat;
        
        width: 20rem;
        height: 22rem;
        margin: 19rem auto 0 30rem;
        opacity: 1;
    
        z-index: 101;
    }
}


@media only screen and (min-width: 898px){
    .jimmy-id{
        position: absolute;
        background-image: url('img/name/jimmy-id.svg');
        background-repeat: no-repeat;
        width: 20rem;
        height: 10rem;
        margin: 15.5rem auto 0 auto;
        opacity: 1;
    } 
}

@media only screen and (min-width: 1000px){
    .akio-would-aspire{
        font-size: 4rem;
        width: 70%;
        margin: 8rem auto 0 2rem;
    }
}

@media only screen and (min-width: 1196px){
    .after-listening{
        font-size: 4rem;
        width: 70%;
        text-align: right;
        margin: 22rem 2rem 0 auto;
        color: black;  
    }
}

@media only screen and (min-width: 1270px){
    
    .years-circle1-div{
        width: 100vw;
        z-index: 9;
        margin-top: 5rem;
    }
    
    .years-circle1{
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background-color: #1B0A08;
        opacity: 0.8;
        z-index: 9;
        margin: 5rem auto 0rem auto;
    }
    
    .for-the-past{
        font-size: 4rem;
        width: 70%;
        text-align: left;
        margin: 8rem auto 2rem 5rem;
        z-index: 8;
        color: black;
    }
    
    
    .years-new-background{
        height: 180vh;
        width: 100vw;
        background-color: #E1B45F;
        position: absolute;
        z-index: 7;
    }
    
    .both-fingerprints{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: auto;
        margin-top: 1rem;
    }
    
    .fingerprint1{
        position: absolute;
        width: 10rem;
        height: 8rem;
        margin: 2rem auto 0 0.4rem;
        opacity: 1;
        z-index: 8;
    
    }
    
    .fingerprint2{
        position: absolute;
        width: 10rem;
        height: 8rem;
        margin: 3.3rem auto 0 auto;
        opacity: 1;
        z-index: 8;
    }
    
    .jimmy-page{
        font-size: 4rem;
        width: 60%;
        text-align: right;
        margin: 15rem 2rem 5rem auto;
        z-index: 8;
        color: black;
    }
    
    
    .years-circle2-div{
        width: 100vw;
        z-index: 9;
    }
    
    .years-circle2{
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background-color: #1B0A08;
        opacity: 0.8;
        z-index: 9;
        margin: 3rem auto 3rem auto;
    }

}

@media only screen and (min-width: 1500px){
    .if-you-never{
        font-size: 4rem;
        width: 80%;
        text-align: left;
        margin: 3rem auto 0 2rem;
    }

    .jimmy-id{
        position: absolute;
        background-image: url('img/name/jimmy-id.svg');
        background-repeat: no-repeat;
        width: 20rem;
        height: 10rem;
        margin: 18.5rem auto 0 auto;
        opacity: 1;
    } 
}

@media only screen and (min-width: 1580px){
    .jimmy-id{
        position: absolute;
        background-image: url('img/name/jimmy-id.svg');
        background-repeat: no-repeat;
        width: 20rem;
        height: 10rem;
        margin: 14rem auto 0 auto;
        opacity: 1;
    } 
}


