*{
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

/* CONTAINER */

#container{
    width: 100%;
    height: auto;
    margin: 0 auto;
    font-family: fenwick-outline, sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #804B4B;
    color: white;
}

/* GREEDY */

#greedy{
display: grid;
margin: 0 auto;
width: 80vw;
height: 800vh;
grid-template-columns: 1fr;
grid-template-rows: repeat(8, 1fr);
row-gap: 0;
grid-template-areas:
"obsession"
"name"
"years"
"japan"
"onwards"
"everything"
"room"
"prison";
}

/* OBSESSION MAIN SCREEN */

#obsession{
    height: 100vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #804B4B;
    text-align: center;
    margin: 0 auto;
    font-family: fenwick-outline, sans-serif;
    grid-area: obsession;
    background-image: url('img/guitar/first-guitar.svg');
    background-repeat: no-repeat;
    
}

.tribute-p{
    font-size: 1.5rem;
    margin: 3rem auto 1rem auto;
    z-index: 100;
    color: black;
    font-stretch: extra-expanded;
    text-shadow: 1px 1px 4px #E5890A;
    z-index: 60;
}

.obsession-h1{
    margin: 1.5rem auto 0 auto;
    transform: translateY(0rem);
    font-size: 2.5rem;
    z-index: 80;
    font-stretch: expanded;
    text-shadow: 3px 3px 8px black;
    writing-mode: vertical-lr;
    text-orientation: upright;
    color: #E5890A;
}

/* VERTICAL STRINGS */

.vertical{
    position: absolute;
    width: 0.3rem;
    height: 90vh;
    border: 2px solid white;
    background-color: white;
    border-radius: 10px;
    opacity: 0.5;
    z-index: 50;
}

.hr-a{
    transform: translateX(-38vw);
    opacity: 1;
    border: 3px solid white;
}

.hr-b{
    transform: translateX(-23vw);
    opacity: 1;
    border: 3px solid white;
}

.hr-c{
    transform: translateX(-8vw);
    opacity: 1;
    border: 3px solid white;
}

.hr-d{
    transform: translateX(7vw);
  
}

.hr-e{
    transform: translateX(22vw);
    
}

.hr-f{
    transform: translateX(37vw);
}

/* ANIMATION FOR EACH STRING */

@keyframes stringify6 {
    0%{transform: translateX(-38.02vw);}
    5%{transform: translateX(-35.98vw);}
    10%{transform: translateX(-38.02vw);}
    15%{transform: translateX(-35.98vw);}
    20%{transform: translateX(-38.02vw);}
    25%{transform: translateX(-35.98vw);}
    30%{transform: translateX(-38.02vw);}
    35%{transform: translateX(-35.98vw);}
    40%{transform: translateX(-38.02vw);}
    45%{transform: translateX(-35.98vw);}
    50%{transform: translateX(-38.02vw);}
    55%{transform: translateX(-35.98vw);}
    60%{transform: translateX(-38.02vw);}
    65%{transform: translateX(-35.98vw);}
    70%{transform: translateX(-38.02vw);}
    75%{transform: translateX(-35.98vw);}
    80%{transform: translateX(-38.02vw);}
    85%{transform: translateX(-35.98vw);}
    90%{transform: translateX(-38.02vw);}
    95%{transform: translateX(-35.98vw);}
    100%{transform: translateX(-38vw);}
}

.stringMoves6{
    animation-name: stringify6;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-delay: 0s;
}

@keyframes stringify5 {
    0%{transform: translateX(-23vw);}
    5%{transform: translateX(-21vw);}
    10%{transform: translateX(-23vw);}
    15%{transform: translateX(-21vw);}
    20%{transform: translateX(-23vw);}
    25%{transform: translateX(-21vw);}
    30%{transform: translateX(-23vw);}
    35%{transform: translateX(-21vw);}
    40%{transform: translateX(-23vw);}
    45%{transform: translateX(-21vw);}
    50%{transform: translateX(-23vw);}
    55%{transform: translateX(-21vw);}
    60%{transform: translateX(-23vw);}
    65%{transform: translateX(-21vw);}
    70%{transform: translateX(-23vw);}
    75%{transform: translateX(-21vw);}
    80%{transform: translateX(-23vw);}
    85%{transform: translateX(-21vw);}
    90%{transform: translateX(-23vw);}
    95%{transform: translateX(-21vw);}
    100%{transform: translateX(-23vw);}
}

.stringMoves5{
    animation-name: stringify5;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-delay: 0s;
}

@keyframes stringify4 {
    0%{transform: translateX(-8vw);}
    5%{transform: translateX(-6vw);}
    10%{transform: translateX(-8vw);}
    15%{transform: translateX(-6vw);}
    20%{transform: translateX(-8vw);}
    25%{transform: translateX(-6vw);}
    30%{transform: translateX(-8vw);}
    35%{transform: translateX(-6vw);}
    40%{transform: translateX(-8vw);}
    45%{transform: translateX(-6vw);}
    50%{transform: translateX(-8vw);}
    55%{transform: translateX(-6vw);}
    60%{transform: translateX(-8vw);}
    65%{transform: translateX(-6vw);}
    70%{transform: translateX(-8vw);}
    75%{transform: translateX(-6vw);}
    80%{transform: translateX(-8vw);}
    85%{transform: translateX(-6vw);}
    90%{transform: translateX(-8vw);}
    95%{transform: translateX(-6vw);}
    100%{transform: translateX(-8vw);}
}

.stringMoves4{
    animation-name: stringify4;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-delay: 0s;
}

@keyframes stringify3 {
    0%{transform: translateX(7vw);}
    5%{transform: translateX(5vw);}
    10%{transform: translateX(7vw);}
    15%{transform: translateX(5vw);}
    20%{transform: translateX(7vw);}
    25%{transform: translateX(5vw);}
    30%{transform: translateX(7vw);}
    35%{transform: translateX(5vw);}
    40%{transform: translateX(7vw);}
    45%{transform: translateX(5vw);}
    50%{transform: translateX(7vw);}
    55%{transform: translateX(5vw);}
    60%{transform: translateX(7vw);}
    65%{transform: translateX(5vw);}
    70%{transform: translateX(7vw);}
    75%{transform: translateX(5vw);}
    80%{transform: translateX(7vw);}
    85%{transform: translateX(5vw);}
    90%{transform: translateX(7vw);}
    95%{transform: translateX(5vw);}
    100%{transform: translateX(7vw);}
}

.stringMoves3{
    animation-name: stringify3;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-delay: 0s;
}

@keyframes stringify2 {
    0%{transform: translateX(22vw);}
    5%{transform: translateX(20vw);}
    10%{transform: translateX(22vw);}
    15%{transform: translateX(20vw);}
    20%{transform: translateX(22vw);}
    25%{transform: translateX(20vw);}
    30%{transform: translateX(22vw);}
    35%{transform: translateX(20vw);}
    40%{transform: translateX(22vw);}
    45%{transform: translateX(20vw);}
    50%{transform: translateX(22vw);}
    55%{transform: translateX(20vw);}
    60%{transform: translateX(22vw);}
    65%{transform: translateX(20vw);}
    70%{transform: translateX(22vw);}
    75%{transform: translateX(20vw);}
    80%{transform: translateX(22vw);}
    85%{transform: translateX(20vw);}
    90%{transform: translateX(22vw);}
    95%{transform: translateX(20vw);}
    100%{transform: translateX(22vw);}
}

.stringMoves2{
    animation-name: stringify2;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-delay: 0s;
}

@keyframes stringify1 {
    0%{transform: translateX(37vw);}
    5%{transform: translateX(35vw);}
    10%{transform: translateX(37vw);}
    15%{transform: translateX(35vw);}
    20%{transform: translateX(37vw);}
    25%{transform: translateX(35vw);}
    30%{transform: translateX(37vw);}
    35%{transform: translateX(35vw);}
    40%{transform: translateX(37vw);}
    45%{transform: translateX(35vw);}
    50%{transform: translateX(37vw);}
    55%{transform: translateX(35vw);}
    60%{transform: translateX(37vw);}
    65%{transform: translateX(35vw);}
    70%{transform: translateX(37vw);}
    75%{transform: translateX(35vw);}
    80%{transform: translateX(37vw);}
    85%{transform: translateX(35vw);}
    90%{transform: translateX(37vw);}
    95%{transform: translateX(35vw);}
    100%{transform: translateX(37vw);}
}

.stringMoves1{
    animation-name: stringify1;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-delay: 0s;
}

/* NAME ARTICLE */

#name{
    height: 100vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #804B4B;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
    font-family: fenwick-outline, sans-serif;
    grid-area: name;
    background-image: url('img/guitar/first-guitar.svg');
    background-repeat: no-repeat;
}

.if-you-never{
    font-size: 1.5rem;
    width: 50%;
    text-align: left;
    margin: 0rem auto 0 2rem;
}

.not-exist{
    font-size: 1.5rem;
    width: 50%;
    text-align: right;
    margin: 2rem 2rem 0 auto;
}

.white-part2{
    position: absolute;
    background-image: url('img/guitar/white-part.svg');
    background-repeat: no-repeat;
    width: 15rem;
    height: 15rem;
    margin: 10.5rem auto 0 auto;
    transform: translateY(13rem);
    opacity: 0.5;
}

/* THIRTY YEARS ARTICLE */

#thirty-years{
    height: 100vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #804B4B;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
    font-family: fenwick-outline, sans-serif;
    grid-area: years;
}

.for-the-past{
    font-size: 1.5rem;
    width: 70%;
    text-align: left;
    margin: 1.3rem auto 0 2rem;
}

.jimmy-page{
    font-size: 1.5rem;
    width: 50%;
    text-align: right;
    margin: 12.5rem 2rem 0 auto;
}

.white-part3{
    position: absolute;
    background-image: url('img/guitar/white-part.svg');
    background-repeat: no-repeat;
    width: 15rem;
    height: 15rem;
    margin: 10.5rem auto 0 auto;
    transform: translateY(2.5rem);
    opacity: 0.5;
}


/* BORN IN JAPAN ARTICLE */

#born-in-japan{
    height: 100vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #804B4B;
    text-align: center;
    margin: 0 auto;
    font-family: fenwick-outline, sans-serif;
    grid-area: japan;
}

.akio-was-born{
    font-size: 1.5rem;
    width: 70%;
    text-align: left;
    margin: 1.3rem auto 0 2rem;
}

.after-listening{
    font-size: 1.5rem;
    width: 50%;
    text-align: right;
    margin: 12.5rem 2rem 0 auto;
}

.japan{
    position: absolute;
    background-image: url('img/japan/japan.svg');
    background-repeat: no-repeat;
    width: 4.2rem;
    height: 4.2rem;
    margin: 13.4rem auto 0 0;
    opacity: 1;
    z-index: 100;
}

.vinyl{
    position: absolute;
    background-image: url('img/japan/vinylblack.svg');
    background-repeat: no-repeat;
    width: 8rem;
    height: 8rem;
    margin: 11.5rem auto 0 auto;
    opacity: 1;
}

/* animation for the vinyl to rotate */

@keyframes vinylRotate {
    100%{transform: rotate(360deg)};
}

@keyframes vinylOpacity {
    0%{opacity: 0};
    100%{opacity: 1};
}

.rotates{
    animation: vinylRotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    
    z-index: 100;
    background-image: url('img/japan/vinyl3.svg');
}


/* FROM THEN ONWARDS ARTICLE */

#from-then-onwards{
    height: 100vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #804B4B;
    text-align: center;
    margin: 0 auto;
    font-family: fenwick-outline, sans-serif;
    grid-area: onwards;
}

.akio-would-aspire{
    font-size: 1.5rem;
    width: 70%;
    text-align: left;
    margin: 2.3rem auto 0 2rem;
}

.perform-exactly{
    font-size: 1.5rem;
    width: 50%;
    text-align: right;
    margin: 13.5rem 2rem 0 auto;
}

.white-part4{
    position: absolute;
    background-image: url('img/guitar/white-part.svg');
    background-repeat: no-repeat;
    width: 15rem;
    height: 15rem;
    margin: 10.5rem auto 0 auto;
    transform: translateY(2.5rem);
    opacity: 0.5;
    z-index: 100;
}


/* SAME EVERYTHING ARTICLE */

#same-everything{
    height: 100vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #804B4B;
    text-align: center;
    margin: 0 auto;
    font-family: fenwick-outline, sans-serif;
    grid-area: everything;
}

.same-outfit{
    font-size: 1.5rem;
    width: 50%;
    text-align: left;
    margin: 3.3rem auto 0 2rem;
}

.same-instruments{
    font-size: 1.5rem;
    width: 50%;
    text-align: right;
    margin: 6rem 2rem 0 auto;
}

.same-sound-system{
    font-size: 1.5rem;
    width: 50%;
    text-align: left;
    margin: 5.5rem auto 0 2rem;
}


/* NO ROOM ARTICLE */

#no-room{
    height: 100vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #804B4B;
    text-align: center;
    margin: 0 auto;
    font-family: fenwick-outline, sans-serif;
    grid-area: room;
}

.for-mistakes{
    font-size: 1.5rem;
    width: 70%;
    text-align: center;
    margin: 2.3rem auto 0 auto;
}

.only-improvements{
    font-size: 1.5rem;
    width: 70%;
    text-align: center;
    margin: 15.5rem auto 0 auto;
}

.white-part5{
    position: absolute;
    background-image: url('img/guitar/white-part.svg');
    background-repeat: no-repeat;
    width: 15rem;
    height: 15rem;
    margin: 10.5rem auto 0 auto;
    transform: translateY(2.5rem);
    opacity: 0.5;
    z-index: 100;
}


/* PRISON ARTICLE */

#prison{
    height: 100vh;
    max-width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #804B4B;
    text-align: center;
    margin: 0 auto;
    font-family: fenwick-outline, sans-serif;
    grid-area: prison;
}

.for-many{
    font-size: 1.5rem;
    width: 70%;
    text-align: left;
    margin: 2.3rem auto 0 2rem;
}

.was-heaven{
    font-size: 1.5rem;
    width: 70%;
    text-align: right;
    margin: 15.5rem 2rem 0 auto;
}

.white-part6{
    position: absolute;
    background-image: url('img/guitar/white-part.svg');
    background-repeat: no-repeat;
    width: 15rem;
    height: 15rem;
    margin: 10.5rem auto 0 auto;
    transform: translateY(2.5rem);
    opacity: 0.5;
    z-index: 100;
}
